POSTGRES_PRISMA_URL= "postgresql://eons_db_user:kgLfSxc2JNtFwCb38j4MJ0IezeEOIBda@dpg-cqgitdpu0jms73dnt3tg-a.virginia-postgres.render.com/eons_db"
POSTGRES_URL_NON_POOLING = "postgresql://eons_db_user:kgLfSxc2JNtFwCb38j4MJ0IezeEOIBda@dpg-cqgitdpu0jms73dnt3tg-a.virginia-postgres.render.com/eons_db"